body {
    margin:0;
    box-sizing: border-box;
    height:100vh;
    width:100vw;
    background-image: url("flowers.jfif");
}

.container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:40%;
}

.box {
    width:100px;
    height:100px;
    padding:24px;
    border: 3px solid black;
    border-radius:50%;
}

.box1 {
    background-color: rgb(36, 158, 91);
}

.box2 {
    background-color: rgb(36, 158, 91);
}

.box3 {
    background-color: rgb(36, 158, 91);
}

.circle {
    width:100px;
    height:100px;
    padding:24px;
    border: 3px solid black;
    border-radius:25%;
    box-shadow: 4px 4px 4px black;
}

.circle1 {
    background-color: rgb(60, 157, 182);
}

.circle2 {
    background-color: rgb(60, 157, 182);
}
